:root{
   font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1{
    font-size: 2rem;
}

.toolBAr{
    font-size: 1.5rem;
}
.stagecontainer{
    background-color: aquamarine;
    flex: 1;
    cursor: crosshair;
}
#aspect{
    background-color: pink;
    width: 16rem;
    height: 9rem;
}
@media( any-hover: none) {
    h1{
         font-size: 3rem;
    }
    .toolBAr{
        color: red;
    }
}